h1 {
    font-size: 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.estiloFondo {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: aquamarine;
}
.estiloBarra{
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: blue;
}
.estiloPorcentaje {
    text-align: center;
    line-height: 30px; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}