body {
    background-color: aquamarine;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
