body { /* Estilo para el cuerpo */
    background-color: aquamarine;
}
h1 { /* Estilo para la cabecera */
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}
p { /* Estilo para los párrafos */
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.cuadro { /* Estilo para los campos */
border-color: blue;
}
.obligatorio { /* Estilo si el campo es obligatorio */
    color: red;
    font-weight: bold;
}
