:root {
    --colorTextos: #49454567;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    background: #4568dc00;
 
    background: -webkit-linear-gradient(to right, #b16ab300, #4568dc00);
 
    background: linear-gradient(to right, #b16ab300, #4568dc00);
   
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-weight: 200;
}

form{
    background: #e09b9b(17, 17, 17);
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(14, 13, 13, 0.8);
    border-radius: 10px;
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px ;
}

input{
    background: none;
    color: #0c0c0cfd;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}



input:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #e09b9b;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #f5f0f5, #d8c4b9);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #b3726a;
    padding-top: 20px;
}

button{
    font-family: 'roboto';
    background:#e09b9b;
    background: -webkit-linear-gradient(to right, #111111, #151616);
    background: linear-gradient(to right, #e09b9b, #e09b9b);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: rgb(17, 16, 16);
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}
a#backTopizza{
    width: 50%;
    background-color:#e09b9b00;
    color: rgb(12, 11, 11);
    border: 2px solid #ffcc0000;
    padding: 10px 26px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
