@import url(http://fonts.googleapis.com/css?family=Raleway);
#main{
    width:960px;
    margin:10px auto;
    font-family:raleway;
}
span{
    color:red;
}

hr{
    border:0;
    border-bottom:1px solid #ccc;
    margin: 10px -40px;
    margin-bottom: 30px;
}
select{
    width:99.5%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-family:josefin-sans;
}
#container{
    width: 40%;
    float: left;
    border-radius: 10px;
    font-family:josefin-sans;
    border: 2px solid #ccc;
    padding: 10px 40px 25px;
    margin-top: 20px;
    margin-left: 25%;
}
input[type=submit]{
    width: 100%;
    background-color:#7e1b0e;
    color: white;
    border: 2px solid #751414;
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    border-radius: 5px;
}
#pizza{
    width: 378px;
    height: 125px;
    margin-left: 46px;
    margin-top: -29px;
}
input[type=checkbox] {
    display:right;

}
#ing{
    float: left;
    margin-right: 10px;
}
input.ing1 + label.ing1{
    background: url(https://thithunkhoi.com/wp-content/uploads/2018/10/Jamon-iberico.jpg) no-repeat;
    box-shadow: rgb(153, 163, 173) 0px 5px 17px 1px, rgb(238, 238, 238) 0px 0px 40px;
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    display:inline-block;
    padding: 0 0 0 0px;
    cursor:pointer;
    transition: all .2s ease-in-out;
}
input.ing1 + label.ing1:hover{
    transform: scale(1.1);
}
input.ing1:checked + label.ing1{
    background: url(http://www.siemprefiesta.com/media/product/845/tenedores-amarillos-24pz-c1d.jpg) no-repeat;
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    display:inline-block;
    padding: 0 0 0 0px;
}
input.ing2 + label.ing2{
    background: url(https://calories-info.com/site/assets/files/3040/pepperoni.650x0.jpg) no-repeat;
    box-shadow: rgb(153, 163, 173) 0px 5px 17px 1px, rgb(238, 238, 238) 0px 0px 40px;
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    display:inline-block;
    padding: 0 0 0 0px;
    cursor:pointer;
    transition: all .2s ease-in-out;
}
input.ing2 + label.ing2:hover{
    transform: scale(1.1);  
}
input.ing2:checked + label.ing2{
    background: url(http://www.siemprefiesta.com/media/product/845/tenedores-amarillos-24pz-c1d.jpg) no-repeat;
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    display:inline-block;
    padding: 0 0 0 0px;
}

input.ing3 + label.ing3{
    background: url(https://lodynmilk.net/aycc0285/uploads/2015/12/Queso-loncheado-tienda.jpg) no-repeat;
    box-shadow: rgb(153, 163, 173) 0px 5px 17px 1px, rgb(238, 238, 238) 0px 0px 40px;
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    display:inline-block;
    padding: 0 0 0 0px;
    cursor:pointer;
    transition: all .2s ease-in-out;
}
input.ing3 + label.ing3:hover{
    transform: scale(1.1);
}
input.ing3:checked + label.ing3{
    background: url(http://www.siemprefiesta.com/media/product/845/tenedores-amarillos-24pz-c1d.jpg) no-repeat;
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    display:inline-block;
    padding: 0 0 0 0px;
}

input.ing4 + label.ing4{
    background: url(https://www.nutritionadvance.com/wp-content/uploads/2018/07/Salami-101.jpg) no-repeat;
    box-shadow: rgb(153, 163, 173) 0px 5px 17px 1px, rgb(238, 238, 238) 0px 0px 40px;
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    display:inline-block;
    padding: 0 0 0 0px;
    cursor:pointer;
    transition: all .2s ease-in-out;
}
input.ing4 + label.ing4:hover{
    transform: scale(1.1);
}
input.ing4:checked + label.ing4{
    background: url(http://www.siemprefiesta.com/media/product/845/tenedores-amarillos-24pz-c1d.jpg) no-repeat;
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    display:inline-block;
    padding: 0 0 0 0px;
}


input.ing5 + label.ing5{
    background: url(https://wonkywonderful.com/wp-content/uploads/2016/06/maple-bacon-4.jpg) no-repeat;
    box-shadow: rgb(153, 163, 173) 0px 5px 17px 1px, rgb(238, 238, 238) 0px 0px 40px;
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    display:inline-block;
    padding: 0 0 0 0px;
    cursor:pointer;
    transition: all .2s ease-in-out;
}

input.ing5 + label.ing5:hover
{
    transform: scale(1.1);
}
input.ing5:checked + label.ing5{
    background: url(http://www.siemprefiesta.com/media/product/845/tenedores-amarillos-24pz-c1d.jpg) no-repeat;
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    display:inline-block;
    padding: 0 0 0 0px;
}
p#total{
    margin-top: 195px;
    margin-bottom: 23px;
    font-size: 18px;
    font-weight: 600;
    color:#751414;

}
img#pizza-success{
    margin-left: 75px;
}
a#backTopizza{
    width: 100%;
    background-color: #751414;
    color: white;
    border: 2px solid #ffcc0000;
    padding: 10px 46px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}