<!-- Ingredientes extras-->

<p class = "obligatorio">Agrega los ingredientes que desees. </p>

    <div id="checkbox_container">
        <div id="chk">
            <left>Jamón</left>
            <input class ="chk1" type='checkbox' name='topping' value='1.00' id="topping1"/><label  class ="chk1" for="topping1"></label> 
            <left>€1.00</left>
        </div>
        <div id="chk">
            <left>Pepperoni</left>
            <input  class ="chk2" type='checkbox' name='topping' value='1.00' id="topping2"/><label class ="chk2" for="topping2"></label> 
            <left>€1.00</left>
        </div>
        <div id="chk">
            <left>Queso</left>
            <input  class ="chk4" type='checkbox' name='topping' value='1.00' id="topping4"/><label class ="chk4" for="topping4"></label> 
            <left>€1.00</left>
        </div>
 
        <div id="chk">
            <left>Salami</left>
            <input  class ="chk5" type='checkbox' name='topping' value='1.00' id="topping5"/><label class ="chk5" for="topping5"></label> 
            <left>€1.00</left>
        </div>
        <div id="chk">
            <left>Tocino</left>
            <input  class ="chk3" type='checkbox' name='topping' value='1.00' id="topping3"/><label class ="chk3" for="topping3"></label> 
            <left>€1.00</left>
         </div>
    </div>
    <br><br>
    <input type="submit" value=" Ordenar ahora " name="submit">

