<form id="reiniciar">
<!-- Tamaño de la pizza-->

<p class="obligatorio", id="tamanoPizza">Elige el tamaño de pizza</p>


<!-- Pizza pequeña-->

<input type="radio", name="tamano", value = "5.00" ,id = "pequena">
<left>Pizza Pequeña (5€)</left>
<br>

<!-- Pizza mediana-->

<input type="radio", name="tamano", value = "10.00" ,id = "mediana">
<left>Pizza Mediana (10€)</left>
<br>

<!-- Pizza grande-->

<input type="radio", name="tamano" , value = "15.00" ,id = "grande">
<left>Pizza Grande (5€)</left>
<br><br>
</form>