body {
    background-color: aqua;
}
.nombrePizzeria {
    font-size: 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.obligatorio {
    color: red;
    font-weight: bold;
}
p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.limite {

    color: red;
}